In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
dataset = pd.read_csv('energydata_complete.csv')

x = dataset.iloc[:, 3:28]
y = dataset.iloc[:, 1:2]

from sklearn.ensemble import ExtraTreesRegressor
Extreg_model = ExtraTreesRegressor()
Extreg_model.fit(x,y)

<ipython-input-44-6788d6feffee>:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Extreg_model.fit(x,y)

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1
0,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,55.200000,...,48.900000,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433
1,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,55.200000,...,48.863333,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195
2,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,55.090000,...,48.730000,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668
3,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,55.090000,...,48.590000,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390
4,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,55.090000,...,48.590000,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,52.400000,...,50.074000,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812
19731,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,52.326667,...,49.790000,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940
19732,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,52.266667,...,49.660000,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117
19733,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,52.200000,...,49.518750,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784
19734,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,52.200000,...,49.736000,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851

In [50]:
print(Extreg_model.feature_importances_)

[0.03824354 0.05094128 0.04217912 0.04563099 0.05349013 0.0498015
 0.03944302 0.03837861 0.03737092 0.03996108 0.03980392 0.04143448
 0.0358345  0.03914148 0.0402166  0.04780981 0.03044079 0.03954902
 0.03255721 0.03803783 0.05093883 0.04038848 0.02897988 0.0340127
 0.02541429]

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [29]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0,1))
scaled_x_train = scaler.fit_transform(x_train)
scaled_x_test = scaler.transform(x_test)

In [33]:
from sklearn.linear_model import LinearRegression

logreg = LinearRegression()
logreg.fit(scaled_x_train, y_train)

LinearRegression()

In [51]:
# from sklearn.linear_model import Ridge
# reg = Ridge(alpha=0.4)
# reg.fit(x_train, y_train)

from sklearn.linear_model import Lasso
reg = Lasso(alpha=0.001)
reg.fit(x_train, y_train)

y_pred = logreg.predict(scaled_x_test)

from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)

rss = np.sum(np.square(y_test - y_pred))

from sklearn.metrics import mean_squared_error
mse = np.sqrt(mean_squared_error(y_test, y_pred))

round(mse, 2)

3.63

In [52]:
from sklearn.ensemble import ExtraTreesRegressor
Extreg_model = ExtraTreesRegressor()
Extreg_model.fit(x,y)

print(Extreg_model.feature_importances_)

<ipython-input-52-97aced402000>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Extreg_model.fit(x,y)

[0.03861396 0.05191701 0.04301953 0.04509815 0.04979659 0.04950669
 0.03867115 0.03868407 0.03809101 0.0395224  0.04017277 0.03866432
 0.03572095 0.03990543 0.04011604 0.04908172 0.03254631 0.03919466
 0.03351385 0.03843463 0.05004336 0.04054207 0.02900339 0.03525479
 0.02488513]